.hidden {
    display: none;
}
#greeting{
    position: absolute;
    text-align: center;
    top:400px;
    right: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: whitesmoke;
}
#login-form{
    top:0px;
    font-size: 70px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    margin: 100 auto auto auto;
    
}
#todo-form{
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100px;
    right: 100px;
}
#todo-list{
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: blanchedalmond;
}
.weather{
    position: absolute;
    text-align: center;
    top:50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: mintcream;
}

img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
button{
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    margin: left -1px;
    max-width: 200px;
    border:1px solid skyblue;
    background-color: rgba(0,0,0,0);
    padding:5px;
}